.nav-link {
    background-color: #068fde;
    border: none;
    color: rgb(0, 0, 0);
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#navbar {
    background-color: #65facd;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    border: none;
    color: rgb(0, 0, 0);
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: flex;
    position: fixed;
    width: 100%;
    font-size: 25px;
}

.main-section-header {
    font-size:200%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}